@font-face {
  font-family: CenturyGothic;
  src: url(fonts/CenturyGothic/GOTHIC.TTF);
}

@font-face {
  font-family: GillSansNova;
  src: url(fonts/GillSansNova/GillSansNova.ttf);
}

body {
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: CenturyGothic, sans-serif;
}

a {
  color: black;
}

p {
  font-family: GillSansNova, sans-serif;
  font-size: smaller;
  margin: 5px;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 7rem);
  font-weight: bold;
}

#header {
  background-color: rgb(37, 37, 37);
  color: white;
  font-size: 0.7rem;
  text-align: center;
}

#header a {
  color: white;
}

#header li{
  display: inline-block;
  line-height: 150%;
  list-style-type: none;
}

#header ul > li {
  margin: 10px;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.screen {
  width: 100vw;
  height: 200vh;
  position: relative;
}

img {
  width: 80vw;
  margin: 10vh 10vw;
}

.screen > *:first-child {
  width: 100vw;
  position: absolute;
  top: 110vh;
  overflow-y: visible;
  margin: 0 2.5vw;
  max-height: 100vh;
  max-width: 95vw;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
  z-index: 2;
}

.description {
  width: 100vw;
  position: absolute;
  top: 34%;
  margin: 0 2.5vw;
  overflow-y: auto;
  max-width: 95vw;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 80%);
  backdrop-filter: blur(10px);
  padding: 1rem;
  font-size: smaller;
}

#ourlastsummer, #credits {
  background-color: rgb(255, 194, 170);
  background-attachment: scroll;
  box-shadow: none;
}

#ourlastsummer > *:first-child {
  width: 90vw;
  margin: 0 5vw;
  position: absolute;
  top: 40%;
  text-align: center;
  font-weight: bold;
}

#pagelinks {
  width: 70vw;
  margin-left: 14vw;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
  top: 50%;
  text-align: center;
  position: absolute;
}

#pagelinks li {
  line-height: 180%;
}

#pic1 {
  background-color: lightsalmon;
}

#pic2 {
  background-color: orange;
}

#pic3 {
  background-color: lightsalmon;
}

#pic4 {
  background-color: orange;
}

#pic5 {
  background-color: lightsalmon;
}

#pic6 {
  background-color: orange;
}

#credits > * {
  width: 90vw;
  margin: 0 5vw;
  position: absolute;
  top: 30%;
}

#participants {
  display: inline-block;
  margin-left: 10vw;
  position: absolute;
  top: 35%;
  overflow-y: auto;
  max-width: 80vw;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

#participants li {
  text-indent: 18px;
  font-size: smaller;
}

#toplink {
  background-color: orange
}

#toplink >*:first-child{
  width: 70vw;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-left: 14vw;
  overflow-y: auto;
  max-height: 100vh;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

#refltext > h2 {
  font-size: 1.2rem;
}

#refltext li {
  font-size: 0.8rem;
  margin: 5%;
}

#refltext > p {
  font-size: 1rem;
  margin: 5%;
  text-indent: 6%;
  line-height: 180%;
}

code {
  font-family: 'Courier New', Courier, monospace;
}