
@font-face {
  font-family: CenturyGothic;
  src: url(fonts/CenturyGothic/GOTHIC.TTF);
}

@font-face {
  font-family: GillSansNova;
  src: url(fonts/GillSansNova/GillSansNova.ttf);
}

a {
  color: black;
}

#header {
  background-color: rgb(37, 37, 37);
  color: white;
  font-size: 1.2em;
  text-align: center;
}

#header a {
  color: white;
}

#header li{
  line-height: 180%;
  list-style-type: none;
}

#header ul {
  display: inline-block;
}

#header ul > li {
  display: inline-block;
  margin: 15px;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: CenturyGothic, sans-serif;
}

p {
  font-family: GillSansNova, sans-serif;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 8vw, 7rem);
  font-weight: bold;
}

h2 {
  font-size: clamp(2rem, 5vw, 7rem);
  font-weight: bold;
}

.screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

picture, img {
  max-height: 80vh;
  margin-left: 1vw;
  position: absolute;
  top:1%;
}

@media(max-width: 1100px){
  picture, img {
    top:10%;
  }
}

.screen > *:first-child {
  width: 53vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 43vw;
  overflow-y: auto;
  max-height: 100vh;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
  z-index: 2
}

.description {
  width: 30vw;
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  margin-left: 5vw;
  overflow-y: auto;
  max-height: 100vh;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
  font-size: smaller;
}

#ourlastsummer > * {
  width: 70vw;
  margin-left: 14vw;
}

#ourlastsummer, #credits {
  background-color: rgb(255, 194, 170);
  background-attachment: scroll;
  box-shadow: none;
}

#pagelinks {
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
  top: 65%;
  text-align: center;
  position: absolute;
}

#pagelinks li {
  display: inline-block;
  margin: 0 40px;
  
}

#pic1 {
  background-color: lightsalmon;
}

#pic2 {
  background-color: orange;
}

#pic3 {
  background-color: lightsalmon;
}

#pic4 {
  background-color: orange;
}

#pic5 {
  background-color: lightsalmon;
}

#pic6 {
  background-color: orange;
}

#credits > * {
  width: 70vw;
  margin-left: 14vw;
  font-weight: bold;
}

#participants {
  display: inline-block;
  margin-left: 14vw;
  position: absolute;
  top: 65%;
  overflow-y: auto;
  max-height: 100vh;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

#participants li {
  display: inline-block;
  text-indent: 18px;
}

#toplink {
  background-color: orange
}

#toplink >*:first-child{
  width: 70vw;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-left: 14vw;
  overflow-y: auto;
  max-height: 100vh;
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

/*
@media(max-width: 800px){
  @font-face {
    font-family: CenturyGothic;
    src: url(fonts/CenturyGothic/GOTHIC.TTF);
  }
  
  @font-face {
    font-family: GillSansNova;
    src: url(fonts/GillSansNova/GillSansNova.ttf);
  }
  
  #header {
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 1.5em;
  }
  
  #header a {
    color: white;
  }
  
  #header li{
    line-height: 180%;
    list-style-type: none;
  }
  
  #header ul > li {
    display: inline-block;
    margin: 25px;
    text-transform: uppercase;
  }
  #header ul {
    display: inline-block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: CenturyGothic, sans-serif;
  }
  
  p {
    font-family: GillSansNova, sans-serif;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .screen {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .screen > *:first-child {
    width: 100vw;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    overflow-y: auto;
    margin-left: 0vw;
    max-height: 100vh;
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
    padding: 1rem;
  }
  
  .description {
    width: 100vw;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    margin-left: 0vw;
    overflow-y: auto;
    max-height: 100vh;
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
    padding: 1rem;
  }
  
  .description {
    font-size: smaller;
  }
  
  #ourlastsummer > * {
    width: 70vw;
    margin-left: 14vw;
  }
  
  #ourlastsummer > header {
    padding: 0;
  }
  
  header > h1 {
    text-align: center;
    font-size: clamp(2rem, 8vw, 7rem);
  }
  
  .screen {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-attachment: fixed;
    background-size: contain;
  }
  
  #ourlastsummer {
    background-color: rgb(255, 194, 170);
    background-attachment: scroll;
    box-shadow: none;
  }
  
  #pic1 {
    background-color: lightsalmon;
  }
  
  #pic2 {
    background-color: orange;
  }
  
  #pic3 {
    background-color: lightsalmon;
  }
  
  #pic4 {
    background-color: orange;
  }
  
  #pic5 {
    background-color: lightsalmon;
  }
  
  #pic6 {
    background-color: orange;
  }
}

*/